APP_NAME=PhuckCancer
APP_ENV=local
ENABLE_DATABASE=false
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_NAME=phuckcancer_demo
DATABASE_USER=phuckcancer_user
DATABASE_PASSWORD=change_this_password

ENABLE_MAMMAL_ENGINE=false
MAMMAL_MODEL_NAME=ibm/biomed.omics.bl.sm.ma-ted-458m
MAMMAL_COMMAND=
MAMMAL_WORKDIR=
MAMMAL_ALLOW_SUBPROCESS=false

ENABLE_LOCAL_LLM=false
OLLAMA_BASE_URL=http://localhost:11434
LOCAL_LLM_MODEL=gemma4:e4b

ENABLE_CBIOPORTAL_CONNECTOR=false
CBIOPORTAL_BASE_URL=https://www.cbioportal.org/api
CBIOPORTAL_API_DOCS_URL=https://www.cbioportal.org/api/v3/api-docs
CBIOPORTAL_AUTH_TOKEN=
CBIOPORTAL_TIMEOUT_SECONDS=30
CBIOPORTAL_MAX_RECORDS=500

REPORT_OUTPUT_DIR=reports
