APP_NAME=PhuckCancer
APP_ENV=local

ENABLE_DATABASE=true
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_NAME=phuckcancer_demo
DATABASE_USER=phuckcancer_user
DATABASE_PASSWORD=change_this_password

MAMMAL_REQUIRED=true
MAMMAL_PROVIDER=local
MAMMAL_MODEL_NAME=ibm/biomed.omics.bl.sm.ma-ted-458m
MAMMAL_BASE_MODEL_ID=ibm/biomed.omics.bl.sm.ma-ted-458m
MAMMAL_BASE_TOKENIZER_ID=ibm/biomed.omics.bl.sm.ma-ted-458m
MAMMAL_HF_FINETUNED_MODELS_URL=https://huggingface.co/models?other=base_model:finetune:ibm-research/biomed.omics.bl.sm.ma-ted-458m
MAMMAL_HF_SPACE_URL=https://huggingface.co/spaces/ibm/biomed-multi-alignment
MAMMAL_OFFICIAL_REPO_URL=https://github.com/BiomedSciAI/biomed-multi-alignment
MAMMAL_DEVICE=auto
MAMMAL_WORKDIR=
MAMMAL_REPO_PATH=/opt/biomed-multi-alignment
MAMMAL_SCRIPT_TIMEOUT_SECONDS=300
MAMMAL_ALLOWED_MODEL_DIRS=/opt/mammal-models,/home/editor/mammal-models
MAMMAL_CELL_LINE_DRUG_RESPONSE_MODEL_PATH=
MAMMAL_DTI_MODEL_PATH=
MAMMAL_DTI_NORM_Y_MEAN=
MAMMAL_DTI_NORM_Y_STD=
MAMMAL_CARCINOGENICITY_MODEL_PATH=
MAMMAL_PROTEIN_SOLUBILITY_MODEL_PATH=
MAMMAL_MCP_BASE_URL=http://127.0.0.1:8001
MAMMAL_MCP_TIMEOUT_SECONDS=90

MAMMAL_API_BASE_URL=
MAMMAL_API_TOKEN=
MAMMAL_API_TIMEOUT_SECONDS=60
MAMMAL_API_INTERPRET_PATH=/v1/interpret
MAMMAL_API_HEALTH_PATH=/health

ENABLE_LOCAL_LLM=false
OLLAMA_BASE_URL=http://localhost:11434
LOCAL_LLM_MODEL=gemma4:e4b

ENABLE_CBIOPORTAL_CONNECTOR=false
CBIOPORTAL_BASE_URL=https://www.cbioportal.org/api
CBIOPORTAL_API_DOCS_URL=https://www.cbioportal.org/api/v3/api-docs
CBIOPORTAL_AUTH_TOKEN=
CBIOPORTAL_TIMEOUT_SECONDS=30
CBIOPORTAL_MAX_RECORDS=500

BACKEND_HOST=0.0.0.0
BACKEND_PORT=8717
FRONTEND_HOST=0.0.0.0
FRONTEND_PORT=5179

REPORT_OUTPUT_DIR=reports
